*{
    margin: 0;
}

.bgimg {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(shock.jpg);
    background-repeat: no-repeat;
    background-size: cover;

} 

.bg
{
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 100vh;
    opacity: 100%;
    background-image: linear-gradient(#1a191d,#ffffff40);
    background-attachment: fixed;
}

.logo{
    display: inline-block;
    position: relative;
    margin: 0;
    top: 1rem;
    left: 10vw;
    width: 10rem;
    height: 10rem;
}

.htext{
    display: inline-block;
    object-position: center;
    color: white;
    font-size: 2vw;
    margin: 0;
    position: relative;
    left: 20vw;
    display: inline;
}

a{
    color: white;
    text-decoration: none;
}

header{
    height: 9rem;
}

/* ////////    GALLERY     /////// */

.container
{
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    opacity: 100%;
    background-image: url(greek-vase.webp);
    background-attachment: fixed;
}

.content{
    position: absolute;
    align-items: center;
    margin: 0;
}

.event{
    margin: 0;
    width: 10vw;
    height: 20vw;
    align-items: center;
    border-style: solid;
    border-radius: 2vw;
    border-width: 2.5vw 1vw;
    border-color: black;
    display: inline-block;
    /* transform: scale(10,10); */
    transform: translate(150%,50%);
    transition-duration: 5s;
}

.e1{
    z-index: -2;
}
.e2{
    z-index: -1;
}
.e3{
    z-index: 0;
}
.e4{
    z-index: -1;
}
.e5{
    z-index: -2;
}

/* ///////////////////////////     LIVE EVENTS   /////////////////// */

.container2
{
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    opacity: 100%;
    background-color: black;
}

.left{
    padding: 50px;
    position: absolute;
    align-items: center;
    margin: 0;
    width: 50%;
}

.right{
    padding: 50px;
    position: absolute;
    align-items: center;
    margin: 0;
    width: 50%;
}

h2{
    color: white;
}


.footer{
    height: 30vh;
}